body {
    margin: 20px;
    padding: 15px;
}

.centre {
    text-align: center;
}

.dx1 {
    text-align: left;
}

.dx2 {
    text-align: right;
}

.dx3 {
    text-align: right;
    border-radius: 8px;
    top: 5;
}

.df1 {
    text-align: center;
}

.dh1 {
    text-align: right;
}

.dh2 {
    text-align: left;
}



header {
    /*background-color: gray;

}

footer {
    /*background-color: gray;
}

